@font-face {
    font-family: 'PT Mono';
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-pt-mono/PTMono-Regular.eot');
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-pt-mono/PTMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-pt-mono/PTMono-Regular.woff2') format('woff2'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-pt-mono/PTMono-Regular.woff') format('woff'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-pt-mono/PTMono-Regular.ttf') format('truetype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-pt-mono/PTMono-Regular.svg#PTMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

