@font-face {
    font-family: 'Prompt';
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Medium.eot');
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Medium.woff2') format('woff2'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Medium.woff') format('woff'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Medium.ttf') format('truetype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Medium.svg#Prompt-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Prompt';
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-LightItalic.eot');
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-LightItalic.woff2') format('woff2'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-LightItalic.woff') format('woff'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-LightItalic.ttf') format('truetype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-LightItalic.svg#Prompt-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Prompt';
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-BoldItalic.eot');
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-BoldItalic.woff2') format('woff2'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-BoldItalic.woff') format('woff'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-BoldItalic.ttf') format('truetype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-BoldItalic.svg#Prompt-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Prompt';
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Light.eot');
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Light.eot?#iefix') format('embedded-opentype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Light.woff2') format('woff2'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Light.woff') format('woff'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Light.ttf') format('truetype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Light.svg#Prompt-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Prompt';
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Bold.eot');
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Bold.woff2') format('woff2'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Bold.woff') format('woff'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Bold.ttf') format('truetype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Bold.svg#Prompt-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Prompt';
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Regular.eot');
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Regular.woff2') format('woff2'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Regular.woff') format('woff'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Regular.ttf') format('truetype'),
        url('https://gitlab.com/pochiel/x-files/blob/master/font-prompt/Prompt-Regular.svg#Prompt-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Prompt';
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-MediumItalic.eot');
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-MediumItalic.woff2') format('woff2'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-MediumItalic.woff') format('woff'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-MediumItalic.ttf') format('truetype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-MediumItalic.svg#Prompt-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Prompt';
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Italic.eot');
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Italic.eot?#iefix') format('embedded-opentype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Italic.woff2') format('woff2'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Italic.woff') format('woff'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Italic.ttf') format('truetype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-prompt/Prompt-Italic.svg#Prompt-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

