@font-face {
    font-family: 'EB Garamond';
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-eb-garamond/EBGaramond-Bold.eot');
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-eb-garamond/EBGaramond-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-eb-garamond/EBGaramond-Bold.woff2') format('woff2'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-eb-garamond/EBGaramond-Bold.woff') format('woff'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-eb-garamond/EBGaramond-Bold.ttf') format('truetype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-eb-garamond/EBGaramond-Bold.svg#EBGaramond-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-eb-garamond/EBGaramond-Medium.eot');
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-eb-garamond/EBGaramond-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-eb-garamond/EBGaramond-Medium.woff2') format('woff2'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-eb-garamond/EBGaramond-Medium.woff') format('woff'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-eb-garamond/EBGaramond-Medium.ttf') format('truetype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-eb-garamond/EBGaramond-Medium.svg#EBGaramond-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-eb-garamond/EBGaramond-Regular.eot');
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-eb-garamond/EBGaramond-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-eb-garamond/EBGaramond-Regular.woff2') format('woff2'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-eb-garamond/EBGaramond-Regular.woff') format('woff'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-eb-garamond/EBGaramond-Regular.ttf') format('truetype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-eb-garamond/EBGaramond-Regular.svg#EBGaramond-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

