@font-face {
    font-family: 'Libre Baskerville';
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-libre-baskerville/LibreBaskerville-Bold.eot');
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-libre-baskerville/LibreBaskerville-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-libre-baskerville/LibreBaskerville-Bold.woff2') format('woff2'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-libre-baskerville/LibreBaskerville-Bold.woff') format('woff'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-libre-baskerville/LibreBaskerville-Bold.ttf') format('truetype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-libre-baskerville/LibreBaskerville-Bold.svg#LibreBaskerville-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-libre-baskerville/LibreBaskerville-Regular.eot');
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-libre-baskerville/LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-libre-baskerville/LibreBaskerville-Regular.woff2') format('woff2'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-libre-baskerville/LibreBaskerville-Regular.woff') format('woff'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-libre-baskerville/LibreBaskerville-Regular.ttf') format('truetype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-libre-baskerville/LibreBaskerville-Regular.svg#LibreBaskerville-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-libre-baskerville/LibreBaskerville-Italic.eot');
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-libre-baskerville/LibreBaskerville-Italic.eot?#iefix') format('embedded-opentype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-libre-baskerville/LibreBaskerville-Italic.woff2') format('woff2'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-libre-baskerville/LibreBaskerville-Italic.woff') format('woff'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-libre-baskerville/LibreBaskerville-Italic.ttf') format('truetype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-libre-baskerville/LibreBaskerville-Italic.svg#LibreBaskerville-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

