@font-face {
    font-family: 'Saira Condensed';
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-saira-condensed/SairaCondensed-Light.eot');
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-saira-condensed/SairaCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-saira-condensed/SairaCondensed-Light.woff2') format('woff2'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-saira-condensed/SairaCondensed-Light.woff') format('woff'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-saira-condensed/SairaCondensed-Light.ttf') format('truetype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-saira-condensed/SairaCondensed-Light.svg#SairaCondensed-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Saira Condensed';
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-saira-condensed/SairaCondensed-Medium.eot');
    src: url('SairaCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-saira-condensed/SairaCondensed-Medium.woff2') format('woff2'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-saira-condensed/SairaCondensed-Medium.woff') format('woff'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-saira-condensed/SairaCondensed-Medium.ttf') format('truetype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-saira-condensed/SairaCondensed-Medium.svg#SairaCondensed-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Saira Condensed Condensed';
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-saira-condensed/SairaCondensed-Bold.eot');
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-saira-condensed/SairaCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-saira-condensed/SairaCondensed-Bold.woff2') format('woff2'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-saira-condensed/SairaCondensed-Bold.woff') format('woff'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-saira-condensed/SairaCondensed-Bold.ttf') format('truetype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-saira-condensed/SairaCondensed-Bold.svg#SairaCondensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Saira Condensed';
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-saira-condensed/SairaCondensed-Regular.eot');
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-saira-condensed/SairaCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-saira-condensed/SairaCondensed-Regular.woff2') format('woff2'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-saira-condensed/SairaCondensed-Regular.woff') format('woff'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-saira-condensed/SairaCondensed-Regular.ttf') format('truetype'),
        url('https://gitlab.com/pochiel/x-files/blob/master/font-saira-condensed/SairaCondensed-Regular.svg#SairaCondensed-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

