@font-face {
    font-family: 'Garamond';
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-garamond-book-condensed/GaramondBookCondensed.eot');
    src: url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-garamond-book-condensed/GaramondBookCondensed.eot?#iefix') format('embedded-opentype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-garamond-book-condensed/GaramondBookCondensed.woff2') format('woff2'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-garamond-book-condensed/GaramondBookCondensed.woff') format('woff'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-garamond-book-condensed/GaramondBookCondensed.ttf') format('truetype'),
        url('https://glcdn.githack.com/pochiel/x-files/raw/master/font-garamond-book-condensed/GaramondBookCondensed.svg#GaramondBookCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

